@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #fcfcfc;
}

::-webkit-scrollbar {
  display: none;
}

a.active {
  background-color: #ffebf5;
  border-color: #c585a7;
}
